<div class="alert alert-info" role="alert">
  {{ 'notifications.mainPage' | translate }}
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 50vh;">
  <h1 class="mb-4 search-title">{{ 'search.title' | translate }}:</h1>
  <div class="input-group mb-3 w-50">
    <input
      class="form-control py-3 search-input"
      type="text"
      [placeholder]="'search.searchPlaceholder' | translate"
      (input)="onSearch($event)"
      (focus)="showResults = true"
      (blur)="hideResults()"
      (keydown.enter)="goToUsers(searchText)"
      (keydown)="onKeyDown($event)"
    />
  </div>

  <div class="search-results" *ngIf="showResults">
    <div *ngIf="filteredResults.length; else noResults">
      <div *ngFor="let user of filteredResults; let i = index" class="result-item" [class.active]="i === selectedIndex" (mousedown)="goToUser(user.id)">
        {{ user.fullName }}
      </div>
    </div>
    <ng-template #noResults>
      <div class="no-results">{{ 'search.notFound' | translate }}</div>
    </ng-template>
  </div>
</div>