<div class="row">
    <div class="col-3">
      <div class="detail-page__cards">
        <img
          class="detail-page__photo"
          [src]="userInfo?.imageUrl"
          alt="Employee Photo"
        />
      </div>
      <div class="detail-page__card" *ngIf="userInfo?.room">
        <p>
          {{ 'user.room' | translate }}: <br>
          <a class="room-link" [routerLink]="['/users']" [queryParams]="{ room: userInfo?.room }">
            {{ userInfo?.room }}
          </a>
        </p>
      </div>
      <div class="detail-page__card" *ngIf="userInfo?.employmentDate">
        <p>{{ 'user.experience' | translate }}: <br> {{ getYearsInCompany(userInfo?.employmentDate) }}</p>
      </div>
    </div>
    <div class="col-9">
      <div class="detail-page__info">
        <h1>{{ userInfo?.fullName }}</h1>
        <p *ngIf="userInfo?.email && !userInfo?.email?.startsWith('no.email')"><b>{{ 'user.email' | translate }}:</b> {{ userInfo?.email }}</p>
        <p *ngIf="userInfo?.mobilePhone"><b>{{ 'user.mobilePhone' | translate }}:</b> {{ userInfo?.mobilePhone }}</p>
        <p *ngIf="userInfo?.internalPhone"><b>{{ 'user.innerPhone' | translate }}:</b> {{ userInfo?.internalPhone }}</p>
        <p *ngIf="userInfo?.department"><b>{{ 'user.department' | translate }}:</b> {{ userInfo?.department }}</p>
        <p *ngIf="userInfo?.subDepartment"><b>{{ 'user.subDepartment' | translate }}:</b> {{ userInfo?.subDepartment }} </p>
        <p *ngIf="userInfo?.position"><b>{{ 'user.position' | translate }}:</b> {{ userInfo?.position }}</p>
        <p *ngIf="userInfo?.birthday"><b>{{ 'user.birthday' | translate }}:</b> {{ userInfo?.birthday | date: 'd MMMM' : undefined : 'uk-UA' }}</p>
        <p *ngIf="userInfo?.city"><b>{{ 'user.city' | translate }}:</b> {{ userInfo?.city }}</p>
      </div>
    </div>
</div>
