        <div class="row">
          <div class="col">
              <h1 class="title">Результати пошуку:</h1>
          </div>
          <div class="col text-end title-count">
              <button disabled  type="button" class="btn btn-primary position-relative title-count me-4">Кількість
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger title-count__quantity">
                    {{ totalUsers }}
                  </span>
              </button>
          </div>
        </div>

        <div class="row mt-1 g-4">
          <div *ngFor="let userInfo of userInfos" class="col-12 col-lg-6">
            <div class="d-flex p-3 border rounded align-items-center" style="min-height: 190px;">
              <img
                [src]="userInfo.imageUrl"
                alt="Employee Photo"
                class="rounded me-3"
                style="max-width: 110px; object-fit: cover;"
              />
              <div class="employee-card__text">
                <h6 class="mb-2 employee-card__title"><a href="/user/{{ userInfo.id }}">{{ userInfo.fullName }}</a></h6>
                <p *ngIf="userInfo.position" class="mb-1 text-muted employee-card__description">{{ userInfo.position }}</p>
                <p *ngIf="userInfo.department" class="mb-1 text-muted employee-card__description">{{ userInfo.department }}</p>
                <p *ngIf="userInfo?.mobilePhone" class="mb-1 employee-card__description"><a href="tel:{{ userInfo?.mobilePhone }}">{{ userInfo?.workPhone || userInfo?.mobilePhone }}</a></p>
                <p *ngIf="userInfo?.email && !userInfo?.email?.startsWith('no.email')" class="mb-1 employee-card__description"><a href="mailto:{{ userInfo?.email }}">{{ userInfo?.email }}</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="totalPages > 1">
          <nav aria-label="Search results pagination">
            <ul class="pagination justify-content-center mt-4">
              <ng-container *ngFor="let page of pageNumbers">
                <li *ngIf="page === -1" class="page-item disabled"><span class="page-link">...</span></li>
                <li *ngIf="page !== -1" class="page-item" [class.active]="page === currentPage">
                  <a (click)="changePage(page)" class="page-link">{{ page }}</a>
                </li>
              </ng-container>
            </ul>
          </nav>
        </div>
