.bg-body-dark {
  background: #1b1a1f;
}

.border-bottom-grey {
  border-bottom: 2px solid #2d2b33;;
}

.nav-link {
  color: #e6e7e8;
}

header, nav {
  font-size: 14px;
}

.active {
  text-decoration: none;
  color: #d22747;
  border-color: #d22747;
  font-weight: 700;
}

.nav-link {
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s, color 0.2s;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
  color: #d22747;
  border-color: #d22747;
  border-bottom: 2px solid;
  font-weight: 700;
}

.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-wrapper {
  position: relative;
}

.search-results {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  color: black;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1050;
  padding: 10px 0;
}

.result-item {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.result-item:hover {
  background-color: #f1f1f1;
}

.no-results {
  padding: 12px 20px;
  color: #999;
  font-style: italic;
}

.result-item.active {
  background-color: #e9ecef;
  font-weight: 500;
}
